<div ng-controller="HomeController" ng-init="init()">
    <div ng-repeat="item in currentItems">
        <!--<div class="row row-margin-3">-->
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/assets/img/maxresdefault.jpg" alt="item-sale-1">
                <div class="caption">
                    <h3>{{item.name}}</h3>
                    <p>
                        <a class="btn btn-primary" role="button" ng-click="addToCartButton($index)">Add to cart</a>
                        <a href="#/item/{{item.itemId}}" class="btn btn-default" role="button">More Info</a>
                    </p>
                </div>
            </div>
        </div>
        <!--</div>-->
    </div>
</div>