<div ng-controller="HomeController" ng-init="init()">
    <div ng-repeat="item in currentItems">
        <div class="col-sm-6 col-md-4" style="margin-top: 30px;" ng-if="item.enabled===true">
            <div class="thumbnail">
                <img ng-src="{{'data:image/png;base64,'+item.image}}" class="front_image"
                     ng-show="item.image!=null" style="width: 200px; height: 200px">
                <img src="/assets/img/default-thumbnail.jpg" ng-show="item.image==null" style="width: 200px; height: 200px">
                <div class="caption">
                    <h3>{{item.name}}</h3>
                    <p>
                        <!--<a class="btn btn-primary" role="button" ng-show="item.quantity>0" ng-click="addToCartButton(item.itemId)">Add to cart</a>-->
                        <a href="#/item/{{item.itemId}}" class="btn btn-default" role="button">Zobacz więcej</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>