<div ng-controller="ItemController" ng-init="init()">
    <!--<div class="col-sm-6">-->
    <!--<img class="thumbnail col-xs-12 col-sm-5" src="../../../assets/img/maxresdefault.jpg">-->
    <img class="thumbnail col-xs-12 col-sm-5" ng-src="{{'data:image/png;base64,'+currentItem.image}}" ng-show="currentItem.image!=null">
    <img class="thumbnail col-xs-12 col-sm-5" src="../../../assets/img/default-thumbnail.jpg" ng-show="currentItem.image==null" >
    <!--</div>-->
    <div class="col-sm-6 col-sm-offset-1">
        <h1 class="text-uppercase">{{currentItem.name}}</h1>
        <p>Kod przedmiotu: <span class="text-info">{{currentItem.itemCode}}</span></p>
        <p>Ilość: <span class="text-muted">{{currentItem.quantity}}</span></p>
        <p>Cena: <span class="text-muted">{{currentItem.price}} zł</span></p>
        <button class="btn btn-primary" ng-show="currentItem.quantity>0" ng-click="addToCartButton(currentItem.itemId)">Dodaj do koszyka</button>
    </div>
    <div class="row row-centered">
        <div class="col-xs-12 col-sm-9 col-centered">
            <h3 class="text-center">OPIS</h3>
            <p class="wrap">{{currentItem.description}}</p>
        </div>
    </div>
</div>