/*body{*/
    /*margin-top: 50px;*/
/*}*/

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.wrap{
    word-wrap:break-word;
}

@media (max-width: 767px) /* @grid-float-breakpoint -1 */
{
    .navbar-fixed-top
    {
        position: relative;
        top: auto;
    }
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    /*margin-right:-10px;*/
}
.row-margin-1 {
    margin-top: 1%;
}
.row-margin-2 {
    margin-top: 2%;
}
.row-margin-3 {
    margin-top: 3%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}