<div class="row hidden-xs">
    <strong class="col-xs-1 wrap">#</strong>
    <strong class="col-xs-5 wrap">NAME</strong>
    <strong class="col-xs-2 wrap">PRICE</strong>
    <strong class="col-xs-2 wrap">QUANTITY</strong>
    <strong class="col-xs-2 wrap">DELETE</strong>
</div>
<div class="row">
    <span class="col-sm-1 wrap">1.</span>
    <span class="col-sm-5 wrap">NAMENAMENAMENAMENAME</span>
    <span class="col-sm-2 wrap">1000.32$</span>
    <span class="col-sm-2 wrap">12</span>
    <button class="btn btn-xs col-sm-2 wrap">DELETE</button>
    <hr class="visible-xs">
</div>