<div class="row hidden-xs">
    <p class="col-sm-1 wrap">#</p>
    <strong class="col-sm-4 wrap">NAME</strong>
    <strong class="col-sm-2 wrap">PRICE</strong>
    <strong class="col-sm-3 wrap">QUANTITY</strong>
    <strong class="col-sm-2 wrap">DELETE</strong>
</div>
<div class="row" ng-repeat="i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" ng-controller="CartController">
    <p class="hidden-xs col-sm-1">{{itemNumber}}1.</p>
    <a class="col-xs-12 col-sm-4">{{itemName}}NAMENAME</a>
    <span class="col-xs-6 col-sm-2">{{price}}1000.32$</span>
    <div class="col-xs-6 col-sm-3">
        <a class="glyphicon glyphicon-chevron-left"></a>
        <span>{{orderedQuantity}}</span>
        <a class="glyphicon glyphicon-chevron-right"></a>
    </div>
    <button class="btn btn-xs col-xs-12 col-sm-2">DELETE</button>
    <hr class="visible-xs">
</div>
<div class="row">

</div>