<div ng-controller="LoginController">
    <div class="row row-centered">
        <div class="col col-centered col-xs-5">
            <div class="alert alert-danger" ng-show="error">
                Wystąpił problem z zalogowaniem się. Spróbuj ponownie.
            </div>
            <form angular-validator-submit="submitForm()" name="myForm" class="form-horizontal" novalidate
                  angular-validator>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Login</label>
                    <div class="col-sm-10">
                        <input type="text"
                               name="username"
                               class="form-control"
                               ng-model="credentials.username"
                               required-message="'Pole wymagane'"
                               validate-on="dirty"
                               focus="true"
                               required></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Hasło</label>
                    <div class="col-sm-10">
                        <input type="password"
                               name="password"
                               class="form-control"
                               ng-model="credentials.password"
                               required-message="'Pole wymagane'"
                               validate-on="dirty"
                               required></div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Zaloguj</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>