<div ng-controller="AdminUsersController" ng-init="init()">
    <div class="row" ng-repeat="user in currentUsers" ng-if="skipCurrent(user.userName)">
        <span class="col-xs-6 col-sm-2">{{user.firstName}}</span>
        <span class="col-xs-6 col-sm-2">{{user.lastName}}</span>
        <span class="col-xs-6 col-sm-2">{{user.email}}</span>
        <span class="col-xs-6 col-sm-2">{{user.phoneNumber}}</span>
        <span class="col-xs-12 col-sm-2 text-center">{{user.role.role}}</span>
        <button class="btn btn-danger btn-xs col-xs-6 col-sm-1" ng-click="deleteUser(user.userId)">delete</button>
        <button class="btn btn-warning btn-xs col-xs-6 col-sm-1" ng-click="changeRole(user.userId)">change role</button>
        <hr class="col-xs-12 visible-xs">
    </div>
    <div class="row row-centered">
        <ul uib-pagination class="pagination-sm col-centered" ng-model="pagination.currentPage"
            ng-change="pageChanged()"
            total-items="pagination.totalItems" max-size="pagination.maxSize" items-per-page="pagination.itemsPerPage"
            boundary-links="true" num-pages="numPages"></ul>
    </div>
</div>