<div ng-controller="ItemsController" ng-init="init()">

    <div class="container">
        <div class="row row-centered">
            <div class="col-sm-5 col-centered">
                <input type="text" ng-model="searchString" class="form-control" placeholder="Search for...">
            </div>
        </div> <!-- /search box -->
    </div>

    <hr>

    <div ng-repeat="item in currentItems | searchFor:searchString">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <a href="#/item/{{item.itemId}}" class="thumbnail">
                    <img src="/assets/img/default-thumbnail.jpg" ng-show="item.image==null">
                    <img ng-src="{{'data:image/png;base64,'+item.image}}" ng-show="item.image!=null">
                </a>
            </div>
            <div class="col-xs-12 col-sm-7">
                <strong class="col-sm-12">{{item.name}}</strong>
                <p class="text-info col-sm-12">item code: {{item.itemCode}}</p>
                <div class="text-muted wrap col-sm-12">
                    {{item.description}}
                </div>
            </div>
            <div class="col-xs-12 col-sm-2">
                <strong class="col-xs-6 col-sm-12">{{item.price}}$</strong>
                <p class="col-xs-6 col-sm-12">dostepne: {{item.quantity}}</p>
                <button class="btn btn-primary col-xs-12 col-sm-12" ng-show="item.quantity>0" ng-click="addToCartButton(item.itemId, $index)">Add to cart
                </button>
                <button class="btn btn-danger col-xs-12 col-sm-6" ng-show="asAdmin()==true" ng-click="deleteButton($index)">Delete</button>
                <a href="#/editItem/{{item.itemId}}" class="btn btn-warning col-xs-12 col-sm-6" ng-show="asAdmin()==true">Edit</a>
            </div>
        </div>
        <div class="row">
            <!--<hr class="col-xs-12 col-sm-12">-->
        </div>
    </div>
    <div class="row row-centered">
        <ul uib-pagination class="pagination-sm col-centered" ng-model="pagination.currentPage"
            ng-change="pageChanged()"
            total-items="pagination.totalItems" max-size="pagination.maxSize" items-per-page="pagination.itemsPerPage"
            boundary-links="true" num-pages="numPages"></ul>
    </div>
</div>
